.container {
    width: 100%;
    background-image: url(../../public/barner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.container::before {
    content: '';
    background-color: #75a91ba9;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.content {
    position: relative;
    color: #fff;
    text-align: center;
    z-index: 2;
    height: 50vh;
    padding: 10px;
}

.action {
    position: absolute!important;
    top: 0;
    bottom: 0;
    width: fit-content;
    z-index: 10;
}

.next {
    right:0;
}

.back {
    left: 0
}

.motivation {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 50%;
    right: -100%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    min-width: 75vw;
    font-size: 20px!important;
    font-weight: 600!important;
}

.motivation.active {
    right: auto;
    left: 50%;
    text-align: center;
    visibility: visible;
    opacity: 1;
}